<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("bda66d5e-e632-4239-8cdc-e1228159008b");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
